/* css.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Roboto';
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 700; /* Definindo o texto como negrito */
}

/* Header */
header {
    background-color: #DCE0E6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header .logo img {
    height: 50px;
}

header .menu a,
header .menu button {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

header .menu button {
    background-color: #2853c0;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

header .menu button:hover {
    background-color: #DCE0E6;
}

.menu a:hover {
    text-decoration: underline;
}

/* Content */
.content {
    max-width: 800px;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content h1 {
    color: #567bda;
    margin-bottom: 20px;
}

.content h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.7;
}

/* Footer */
footer {
    background-color: #DCE0E6;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer .logo img {
    height: 40px;
    margin-bottom: 10px;
}

footer p {
    margin-top: 10px;
}
